@page
@model ChangePasswordModel
@{
    Layout = "../Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = "Change Password | Earlyman";
}
    <div class="row limited clear-fix">
        <h1>Change Password</h1>
    </div>

    <main>
        <div class="row limited clear-fix au-form">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div>
                    <label asp-for="Input.NewPassword"></label>
                    <input asp-for="Input.NewPassword">
                    <span asp-validation-for="Input.NewPassword"></span>
                </div>
                <div>
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword"/>
                    <span asp-validation-for="Input.ConfirmPassword"></span>
                </div>

                <div>
                    <button type="submit">Change Password</button>
                </div>
            </form>
        </div>
   
    </main>