@page
@model LoginModel
@{
    Layout = "../Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = "Log in | Earlyman";
}

    <div class="row limited clear-fix">
        <h1 class="column small-12">Log In</h1>
    </div>

    <main>
        <div  class="row limited clear-fix au_form">
                    <form method="post" asp-antiforgery="true">
                       <div  asp-validation-summary="All" ></div>
                        <div>
                            <label asp-for="Input.Email" autocomplete =false aria-autocomplete="none">Email/Username</label>
                            <input asp-for="Input.Email"/>
                            <span asp-validation-for="Input.Email"></span>
                        </div>
                        <div>
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password"  />
                            <span asp-validation-for="Input.Password"></span>
                        </div>
                        <div>
                            <label id="rememberLabel" asp-for="Input.RememberMe">Remember Me?</label>
                            <input asp-for="Input.RememberMe" type="checkbox" class="" />

                        </div>
                        <div >
                            <button type="submit">Log in</button>
                        </div>
                   
                    </form>
                 <section>
                    <p >
                        <a asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p >
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                 </section>
             </div>
            </main>

