@model ErrorPageViewModel
@{
    Layout = null;

}
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="description" content="Affordable 3d printing" />
    <meta name="keywords" content="Artwork sale, EarlyMan, 3D printing, materials, PETA" />
    <meta name="author" content="David Okeke Chihurumnanya" />
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1" />
    <!-- Favicon -->
    <link href="favicon.ico" rel="icon" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,700;1,300&display=swap"
        rel="stylesheet">
    <!-- Icons -->
    <link rel="stylesheet" href="/lib/font-awesome/css/all.css" />
    <!-- client-side libraries-->
    <link rel="stylesheet" href="/lib/normalize/normalize.min.css" />
    <!-- Style sheets-->
    <link rel="stylesheet" href="/css/small.css" />
    <link rel="stylesheet" href="/css/medium.css" />
    <link rel="stylesheet" href="/css/large.css" />
    <!-- Page title-->
    <title>@ViewBag.Title</title>
</head>

<body class="background-pattern-1">
    <div class="background-blue small-block medium-block centered margin-top-20">
        <div class="auto-width centered">
            <img alt=@Model.Code class="border img-fluid" src=@Model.Src title=@Model.Code width="400" height="400">
            <div class="auto-width centered margin-top-20-container">
                <a asp-controller="Home" asp-action="Index">Back to safety</a>
            </div>
        </div>

    </div>

</body>

</html>