@page
@model LoginModel
@{
    Layout = "../Shared/_Layout.cshtml";
    //Layout = null;
}
@{
    ViewData["Title"] = "Log in | Earlyman";
}

  
    <main>
        <div class="a_form">
                    <form method="post">
                        <div asp-validation-summary="All"></div>
                        <div>
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email"  />
                            <span asp-validation-for="Input.Email"></span>
                        </div>
                        <div>
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password"  />
                            <span asp-validation-for="Input.Password"></span>
                        </div>
                        <div>
                            <label asp-for="Input.RememberMe">Remember Me?</label>
                            <input asp-for="Input.RememberMe" type="checkbox" class="" />
                        </div>
                        <div >
                            <button type="submit">Log in</button>
                        </div>
                   
                    </form>
                 <section>
                    <p >
                        <a asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p >
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                 </section>
             </div>
            </main>

